$pad: 8px;
$mg: 4px;

.grid__row {
  display: flex;
  height: 100%;

  [class^="grid__box"] {
    display: flex;
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: $pad;
    padding: $pad;

    background-color: white;
    border-radius: 2px;

    &[class*="--editor"] {
    }

    &[class*="--preview"] {
      overflow: scroll;
    }
  }
}

textarea {
  width: 100%;
  height: 100%;
  border: none;

  &:focus {
    outline: none;
  }
}
