<editor-topbar
  [fileName]="fileName"
  (saveFileContent)="saveFileContent();"
  (downloadFileLocally)="downloadFileLocally();">
</editor-topbar>
<div class="grid__row">
  <div class="grid__box--editor shadow--light">
    <textarea [(ngModel)]="markdown"></textarea>
  </div>
  <div class="grid__box--preview shadow--light">
    <div [innerHTML]="markdown | markdown">
    </div>
  </div>
</div>
