#home__templates {
  @include no-webkit();
  background-color: $grey-dark;
  color: white;
}

.home-files__topbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}
