<div id="editor__topbar">
  <div id="editor__topbar__back">
    <h1 routerLink="">&#10005;</h1>
  </div>
  <div id="editor__topbar__links">
    <input class="title" [(ngModel)]="fileName">
    <ul class="tool-bar">
      <li (click)="save()">Save</li>
      <li (click)="download()">Download</li>
    </ul>
  </div>
</div>
