<div id="home__templates">
  <div class="content">
    <h3 class="content__title">New Document</h3>
    <div class="grid">
      <div class="grid__box xs-12 sm-6 md-4 lg-3 card" routerLink="/editor">
        <p>Blank Document</p>
      </div>
      <div class="grid__box xs-12 sm-6 md-4 lg-3 card" routerLink="/editor">
        <p>Project Docs</p>
      </div>
      <div class="grid__box xs-12 sm-6 md-4 lg-3 card" routerLink="/editor">
        <p>Landing Page</p>
      </div>
    </div>

  </div>
</div>
