[class*="card"] {
  @include no-webkit();
  @include shadow-light();
  background-color: white;
  border-radius: 2px;
  padding: $padding-sm;
  margin-bottom: $padding-md;
  color: $text-dark;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  &[class*="--fade-in"] {
    animation: fadein 1s;
  }

  .date {
    font-size: small;
    color: gray;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
