[class^="grid"] {
  display: flex;
  justify-content: space-around;

  &[class*="--wrap"] {
    flex-wrap: wrap;
  }

  &[class*="--preview"] {
    justify-content: flex-start;
  }

  [class*="__box"]:first-child:nth-last-child(1) {
    justify-content: flex-start;
  }

  [class*="__box"] {
    width: 20%;
  }
}

.content {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  padding: $padding-lg $padding-xl;

  .content__title {
    padding-bottom: $padding-md;
  }
}
