.navbar {
  @include no-webkit();
  height: 48px;
  display: flex;
  align-items: center;

  color: white;
  background-color: $blue;

  .title {
    font-weight: 600;
    padding-left: $padding-lg;
  }
}
