.tool-bar {
  display: inline-flex;
  list-style: none;

  li {
    @include cursor-pointer();
    font-size: $font-sm;
    padding: 3px 5px;

    &:hover {
      background-color: #eee;
    }
  }
}

/* ========== Editor ========== */
#editor__topbar {
  @include no-webkit();
  display: flex;
  flex-direction: row;
  background: white;

  .title {
    padding: $padding-xs;
  }

  #editor__topbar__back {
    @include cursor-pointer();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: white;
    background-color: $blue;
  }

  #editor__topbar__links {
    padding: $padding-xs;
    display: flex;
    flex-direction: column;

    input {
      font-size: $font-h3;
      border: none;
    }
  }
}
