<div class="content no-webkit">
  <div class="home-files__topbar">
    <h3 class="content__title"> {{ firstName }} Files </h3>

    <select [ngModel]="selectedFilter | json" (ngModelChange)="updateSelectedValue($event)">
      <option *ngFor="let filter of filterOptions" [value]="filter | json" >{{ filter.name }}</option>
    </select>
  </div>

  <div class="grid--wrap" [style.justify-content]="((files | isMarkdown).length > 0) ? 'space-around' : 'space-around'">
    <div class="grid__box xs-12 sm-6 md-4 lg-3 card" *ngIf="!connectedToDrive" (click)="driveConnect()">
      <img src="assets/img/drive.png"/>
      <p>Connect to Drive</p>
    </div>
    <div *ngFor="let file of files | isMarkdown | orderFiles:selectedFilter" class="grid__box xs-12 sm-6 md-4 lg-3 card--fade-in" (click)="openFileInEditor(file.id)">
      <p>{{ file.name }}</p>
      <p class="date">{{ file.modifiedTime | date:'short' }}<p>
    </div>
  </div>
</div>
